client/include/spectranet/**
client/libs/*.lib
client/build
cmake-*
.ticks_history.txt
*.szx
*.pyc
/server/.idea
/client/src/data
server/pages/data
/server/map.proto
/server-api/.idea
/server/python/server/doc/icons
/doc/tmp/
/server/pages/modules
/server/data/Icon

/.env
/server/data/draft
*.inc.h
server-browser/.idea
/server/pages/client.bin
/server-list-api/.idea
/server-list-api/statuses.bin
/server/data/Icon
/doc/.idea
/server/build
/client/.idea/editor.xml
/client/.idea/cmake.xml
*.iml
/.idea/zx-sandbox.iml
/.idea/workspace.xml
/.idea/webServers.xml
/.idea/sshConfigs.xml
/.idea/deployment.xml
/.cursor
/client/.symbol-script
/client/calls.txt
/client/estimation.txt
/client/examine_symbol.sh
/client/gdbserver.py
/client/gdbserver.sh
/client/sizes
/server/runtime
/tnfsd/data
web/static
